
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
body {
  font-family: 'Fira Sans',sans-serif;
}
.price {
  padding-right: 5px;
  color: #d2b524;
  font-size: 12px;
  cursor: default;
}
.price:after {
  content: '';
  background-image: url(/images/icons/clickcoin_mini.png); /* подставьте сюда адрес своего спрайта */
  background-repeat: no-repeat;
  background-position: 0 0;
  margin: 0;
  left: 5px;
  top: 7px;
  position: relative;
  width: 20px;
  height: 20px;
  display: inline-block;
}
.buy {
  width: 100%;
  margin-bottom: 4px;
  border: 1px solid #eaedef;
  border-radius: 3px;
  background-color: #f5f8fa;
  color: grey;
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 5px 10px;
  transition: .5s;
}
.buy:hover {
  border: 1px solid #ecc75e;
  background-color: #ffd560;
  color: #a0790c;
  transition: 1s;
  text-decoration: none;
}
//---widgets---
.panel-body.chat {
  overflow-y: scroll;
  height: 250px;
}
.widget-chat-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.widget-chat-item {
  position: relative;
  border-bottom: 1px solid #f5f5f5;
  padding: 12px 0 12px 0;
}
.widget-chat-item:last-child {
  border-bottom: 0;
}
.message-user {
  color: #a04eb4;
  display: inline-block;
}

.message-date {
  color: #989898;
  font-size: 11px;
}

.message-user img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
}


.widget-users-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.widget-users-item {
  position:relative;
  border-bottom: 1px solid #f5f5f5;
  padding: 12px 20px 12px 0;
}
.widget-users-item:last-child {
  border-bottom: 0;
}


.widget-items-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.widget-items-item {
  position:relative;
  border-bottom: 1px solid #f5f5f5;
  padding: 12px 20px 12px 0;
}
.widget-items-item:last-child {
  border-bottom: 0;
}
.widget-items-user {
  padding-left: 25px;
  color: #a04eb4;
  margin-bottom: 7px;
  position: relative;
}
.widget-items-user img {
  width:20px;
  height:20px;
  position:absolute;
  top:-2px;
  left:0px;
  border-radius:50%;
}
.widget-items-name {
  padding-left: 25px;
  color: #00d01a;
  margin-bottom: 7px;
  position: relative;
}
.widget-items-name img {
  width:20px;
  height:20px;
  position:absolute;
  top:-2px;
  left:0px;
  border-radius:50%;
}

.widget-games-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.widget-games-item {
  position:relative;
  border-bottom: 1px solid #f5f5f5;
  padding: 12px 20px 12px 0;
}
.widget-games-item:last-child {
  border-bottom: 0;
}
.widget-games-user {
   padding-left: 25px;
   color: #a04eb4;
   margin-bottom: 7px;
   position: relative;
 }
.widget-games-user img {
  width:20px;
  height:20px;
  position:absolute;
  top:-2px;
  left:0px;
  border-radius:50%;
}
.widget-games-name {
  padding-left: 25px;
  color: #ff8100;
  margin-bottom: 7px;
  position: relative;
}
.widget-games-name img {
  width:20px;
  height:20px;
  position:absolute;
  top:-2px;
  left:0px;
  border-radius:50%;
}

.widget-themes-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.widget-themes-item {
  position:relative;
  border-bottom: 1px solid #f5f5f5;
  padding: 12px 20px 12px 0;
}
.widget-themes-item:last-child {
  border-bottom: 0;
}
.widget-themes-user {
  padding-left: 25px;
  color: #a04eb4;
  margin-bottom: 7px;
  position: relative;
}
.widget-themes-user img {
  width:20px;
  height:20px;
  position:absolute;
  top:-2px;
  left:0px;
  border-radius:50%;
}


//---Shop---
//---games---
.all-games {
  background: #d4d4d4;
  border-radius: 3px;
  text-decoration: none;
  color: white;
  display: block;
  padding: 0 15px 0 15px;
  transition: .5s;
}

.all-games:hover {
  background: #af2f9e;
  text-decoration: none;
  color: white;
  transition: 1s;
}


.all-games:focus {
  text-decoration: none;
  color: white;
}

.all-games:active {
  text-decoration: none;
  color: white;
}

.all-games h2 {
  text-align: center;
  margin-bottom: 20px;
  padding-top: 15px;
}
.games-list {

}

.games-list .game-card {
  background-color: #fff;
  padding: 5px 10px;
  margin-bottom: 15px;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  position: relative;
  display: block;
}

.games-list .game-card .game-image {
  margin: 0 auto;
  text-align: center;
  padding: 14px 0;
}
.games-list .game-card .game-image img {
  width: auto;
  border-radius: 3px;
  max-width: 100%;
}
.games-list .game-card .game-name {
  line-height: 2.2;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #949494;
  margin-bottom: 10px;
}
.games-list .game-card .price {
  text-align: center;
  margin-bottom: 10px;
}



//---items---
.all-items {
  background: #d4d4d4;
  border-radius: 3px;
  text-decoration: none;
  color: white;
  display: block;
  padding: 0 15px 0 15px;
  transition: .5s;
}

.all-items:hover {
  background: #af2f9e;
  text-decoration: none;
  color: white;
  transition: 1s;
}

.all-items:focus {
  text-decoration: none;
  color: white;
}

.all-items:active {
  text-decoration: none;
  color: white;
}

.all-items h2 {
  text-align: center;
  margin-bottom: 20px;
  padding-top: 15px;
}

.items-categories {

}

.items-categories .category {
  background-color: #fff;
  padding: 5px 10px;
  margin-bottom: 15px;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  display: block;
  cursor: pointer;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  opacity: .5;
}

.items-categories .category:hover {
  opacity: 1;
}

.items-categories .category.active {
  opacity: 1;
}

.items-categories .category .category-icon {
  border-radius: 3px;
}

.items-list {

}

.items-list .item-card {
  background-color: #fff;
  padding: 5px 10px;
  margin-bottom: 15px;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  position: relative;
  display: block;
}
.items-list .item-card .category-icon img {
  border-radius: 3px;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 20px;
  opacity: .8;
}
.items-list .item-card .item-image {
  margin: 0 auto;
  text-align: center;
}
.items-list .item-card .item-image img {
  width: auto;
  border-radius: 3px;
  max-width: 100%;
}
.items-list .item-card .item-name {
  padding-left: 30px;
  line-height: 2.2;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #949494;
  margin-bottom: 10px;
}
.items-list .item-card .price {
  text-align: center;
  margin-bottom: 10px;
}
//---last-buy-items---
.last-buy-items-list {

}

.last-buy-items-list .last-buy-item-card {
  background-color: #fff;
  padding: 5px 10px;
  margin-bottom: 15px;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  position: relative;
  display: block;
}

.last-buy-items-list .last-buy-item-card .category-icon {
  display: inline-block;
}

.last-buy-items-list .last-buy-item-card .category-icon img {
  border-radius: 3px;
  width: 20px;
  opacity: .5;
  margin-right: 5px;
}
.last-buy-items-list .last-buy-item-card .item-image {
  display: inline-block;
}
.last-buy-items-list .last-buy-item-card .item-image img {
  border-radius: 3px;
  height: 20px;
}
.last-buy-items-list .last-buy-item-card .item-name {
  color: #949494;
  display: inline-block;
  line-height: 2;
  vertical-align: middle;
  width: 50%;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.last-buy-items-list .last-buy-item-card .item-buyer {
  color: #949494;
  display: inline-block;
  float: right;
  line-height: 2;
}
//------
//---last-buy-games---
.last-buy-games-list {

}

.last-buy-games-list .last-buy-game-card {
  background-color: #fff;
  padding: 5px 10px;
  margin-bottom: 15px;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  position: relative;
  display: block;
}

.last-buy-games-list .last-buy-game-card .game-image {
  display: inline-block;
}
.last-buy-games-list .last-buy-game-card .game-image img {
  border-radius: 3px;
  height: 20px;
}
.last-buy-games-list .last-buy-game-card .game-name {
  color: #949494;
  display: inline-block;
  line-height: 2;
  vertical-align: middle;
  width: 50%;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.last-buy-games-list .last-buy-game-card .game-buyer {
  color: #949494;
  display: inline-block;
  float: right;
  line-height: 2;
}
//------
.games-list {

}
.games-item {
  margin-bottom: 15px;
  display: block;
  color: #777;
  border: 1px solid #e3e3e3;
  padding: 10px;
  background-color: white;
  position:relative;
}
.games-item img {
  width: 100%;
}
.game-name {
  color: #ff8100;
  margin-bottom: 7px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.game-price {
  margin-top: 15px;
  font-size: 11px;
  color: #b2b2b2;
}

.last-buy-games-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.game-date {
  font-size: 10px;
  color: #b2b2b2;
}
.game-buy-name {
  padding-left: 25px;
  color: #a04eb4;
  margin-bottom: 7px;
  position: relative;
}
.game-buy-name img {
  width:20px;
  height:20px;
  position:absolute;
  top:-2px;
  left:0px;
  border-radius:50%;
}
.item-user {
  padding-left: 25px;
  color: #a04eb4;
  margin-bottom: 7px;
  position: relative;
}
.game-user img {
  width:20px;
  height:20px;
  position:absolute;
  top:-2px;
  left:0px;
  border-radius:50%;
}
.last-buy-games-item {
  margin-bottom: 15px;
  display: block;
  color: #777;
  border: 1px solid #e3e3e3;
  padding: 10px;
  background-color: white;
  position:relative;
}
.items-list {

}
.items-item {
  margin-bottom: 15px;
  display: block;
  color: #777;
  border: 1px solid #e3e3e3;
  padding: 10px;
  background-color: white;
  position:relative;
  text-align: center;
}
.items-item img {
  height: 100px;
}
.item-name {
  color: #00d01a;
  margin-bottom: 7px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.item-price {
  margin-top: 15px;
  font-size: 11px;
  color: #b2b2b2;
}

.last-buy-items-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.item-date {
  font-size: 10px;
  color: #b2b2b2;
}
.item-buy-name {
  padding-left: 25px;
  color: #a04eb4;
  margin-bottom: 7px;
  position: relative;
}
.item-buy-name img {
  width:20px;
  height:20px;
  position:absolute;
  top:-2px;
  left:0px;
  border-radius:50%;
}
.item-user {
  padding-left: 25px;
  color: #a04eb4;
  margin-bottom: 7px;
  position: relative;
}
.item-user img {
  width:20px;
  height:20px;
  position:absolute;
  top:-2px;
  left:0px;
  border-radius:50%;
}
.last-buy-items-item {
  margin-bottom: 15px;
  display: block;
  color: #777;
  border: 1px solid #e3e3e3;
  padding: 10px;
  background-color: white;
  position:relative;
}

//------
#information {
  background: url("/images/bg/dota.jpg");
  margin-top: -22px;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
  color: #fff;
  text-align: center;
  padding: 25px;
}
#information:before {
  content: '';
  background: rgba(125, 28, 136, 0.52);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
#information ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
//rating table
table .user-name {
  color: #a04eb4;
}

table .user-name img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
}