
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
body {
  font-family: 'Fira Sans',sans-serif;
}
//---widgets---
.widget-users-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.widget-users-item {
  position:relative;
  border-bottom: 1px solid #f5f5f5;
  padding: 12px 20px 12px 0;
}
.widget-users-item:last-child {
  border-bottom: 0;
}


.widget-items-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.widget-items-item {
  position:relative;
  border-bottom: 1px solid #f5f5f5;
  padding: 12px 20px 12px 0;
}
.widget-items-item:last-child {
  border-bottom: 0;
}
.widget-items-user {
  padding-left: 25px;
  color: #a04eb4;
  margin-bottom: 7px;
  position: relative;
}
.widget-items-user img {
  width:20px;
  height:20px;
  position:absolute;
  top:-2px;
  left:0px;
  border-radius:50%;
}
.widget-items-name {
  padding-left: 25px;
  color: #00d01a;
  margin-bottom: 7px;
  position: relative;
}
.widget-items-name img {
  width:20px;
  height:20px;
  position:absolute;
  top:-2px;
  left:0px;
  border-radius:50%;
}

.widget-games-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.widget-games-item {
  position:relative;
  border-bottom: 1px solid #f5f5f5;
  padding: 12px 20px 12px 0;
}
.widget-games-item:last-child {
  border-bottom: 0;
}
.widget-games-user {
   padding-left: 25px;
   color: #a04eb4;
   margin-bottom: 7px;
   position: relative;
 }
.widget-games-user img {
  width:20px;
  height:20px;
  position:absolute;
  top:-2px;
  left:0px;
  border-radius:50%;
}
.widget-games-name {
  padding-left: 25px;
  color: #ff8100;
  margin-bottom: 7px;
  position: relative;
}
.widget-games-name img {
  width:20px;
  height:20px;
  position:absolute;
  top:-2px;
  left:0px;
  border-radius:50%;
}

.widget-themes-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.widget-themes-item {
  position:relative;
  border-bottom: 1px solid #f5f5f5;
  padding: 12px 20px 12px 0;
}
.widget-themes-item:last-child {
  border-bottom: 0;
}
.widget-themes-user {
  padding-left: 25px;
  color: #a04eb4;
  margin-bottom: 7px;
  position: relative;
}
.widget-themes-user img {
  width:20px;
  height:20px;
  position:absolute;
  top:-2px;
  left:0px;
  border-radius:50%;
}
//---Shop---
.items-categories {

}

.items-categories .category {
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  display: block;
  cursor: pointer;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  opacity: .5;
}

.items-categories .category:hover {
  opacity: 1;
}

.items-categories .category.active {
  opacity: 1;
}

.items-categories .category .category-icon {
  border-radius: 3px;
}

//------
.games-list {

}
.games-item {
  margin-bottom: 15px;
  display: block;
  color: #777;
  border: 1px solid #e3e3e3;
  padding: 10px;
  background-color: white;
  position:relative;
}
.games-item img {
  width: 100%;
}
.game-name {
  color: #ff8100;
  margin-bottom: 7px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.game-price {
  margin-top: 15px;
  font-size: 11px;
  color: #b2b2b2;
}

.last-buy-games-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.game-date {
  font-size: 10px;
  color: #b2b2b2;
}
.game-buy-name {
  padding-left: 25px;
  color: #a04eb4;
  margin-bottom: 7px;
  position: relative;
}
.game-buy-name img {
  width:20px;
  height:20px;
  position:absolute;
  top:-2px;
  left:0px;
  border-radius:50%;
}
.item-user {
  padding-left: 25px;
  color: #a04eb4;
  margin-bottom: 7px;
  position: relative;
}
.game-user img {
  width:20px;
  height:20px;
  position:absolute;
  top:-2px;
  left:0px;
  border-radius:50%;
}
.last-buy-games-item {
  margin-bottom: 15px;
  display: block;
  color: #777;
  border: 1px solid #e3e3e3;
  padding: 10px;
  background-color: white;
  position:relative;
}
.items-list {

}
.items-item {
  margin-bottom: 15px;
  display: block;
  color: #777;
  border: 1px solid #e3e3e3;
  padding: 10px;
  background-color: white;
  position:relative;
  text-align: center;
}
.items-item img {
  height: 100px;
}
.item-name {
  color: #00d01a;
  margin-bottom: 7px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.item-price {
  margin-top: 15px;
  font-size: 11px;
  color: #b2b2b2;
}

.last-buy-items-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.item-date {
  font-size: 10px;
  color: #b2b2b2;
}
.item-buy-name {
  padding-left: 25px;
  color: #a04eb4;
  margin-bottom: 7px;
  position: relative;
}
.item-buy-name img {
  width:20px;
  height:20px;
  position:absolute;
  top:-2px;
  left:0px;
  border-radius:50%;
}
.item-user {
  padding-left: 25px;
  color: #a04eb4;
  margin-bottom: 7px;
  position: relative;
}
.item-user img {
  width:20px;
  height:20px;
  position:absolute;
  top:-2px;
  left:0px;
  border-radius:50%;
}
.last-buy-items-item {
  margin-bottom: 15px;
  display: block;
  color: #777;
  border: 1px solid #e3e3e3;
  padding: 10px;
  background-color: white;
  position:relative;
}

//------
#information {
  background: url("/images/bg/dota.jpg");
  margin-top: -22px;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
  color: #fff;
  text-align: center;
  padding: 25px;
}
#information:before {
  content: '';
  background: rgba(125, 28, 136, 0.52);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
#information ul {
  list-style: none;
  padding: 0;
  margin: 0;
}